body{
  background-color: #e8e8e8 !important;
  color: red !important;
}

.bd{
  border:3px solid rgb(182, 33, 33) !important;
}

header{
  height: 80px;
  border: 1px dashed red;
}

main{
  min-height: 2000px;
  border: 1px dashed red;
}

footer{
  height: 400px;
  border: 1px dashed red;
}


@media (min-width: 1360px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px !important;
}
}
